.detailed{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 150px;
	
}
.detailed_title{
	margin-top: 150px;
	font-size: 48px;
    font-weight: 800;
    line-height: 50px;
}
.detailed_info{
	margin-right: 30px;
}
.detailed_text{
	font-size: 25px;
    line-height: 35px;
    margin: 40px 0px;
}
.detailed_button{
	padding: 18px 34px;
    background: linear-gradient(180deg,rgba(0,0,0,.05),hsla(0,0%,100%,.1) 47.92%,rgba(0,0,0,.08)),#f9cb3a;
    box-shadow: 0 4px 30px rgb(0 0 0 / 30%);
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 21px;
    align-self: flex-start;
    border-radius: 10px;
}
.detailed_image{
	background: url('/img/detailed_photos.png') 0 0/100% auto no-repeat;
	text-align: center;
}
.detailed_hidden_photo{
	width: 70%;
}
.detailed_social{
	max-width: 30%;
	display: flex;
	flex-direction: column;	
	margin-top: 175px;
	text-shadow: 5px 5px 10px rgb(0 0 0 / 85%);
	color: #FFFFFF;
}	
.detailed_info_social_icons{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}	

//=====================================================================================
/* Устроства с маленьким экраном (планшеты, 768px) */
@media (max-width: 768px) {
	.detailed{
		display: table;
		margin: auto;
	}
	.detailed_social{
		display: none;
	}
	.detailed_image{
		display: table-header-group;
		background: none;
	}
	.detailed_info{
		display:table-footer-group;
		text-align: center;
		margin: auto;
	}

}
/* Устройства со средним экраном (ноутбуки и компьютеры, 992px) */
@media (max-width: 992px) {
	.detailed{
		margin: auto;
	}

	.detailed_social{
		display: none;
	}
	.detailed_title{
		margin-top: 0px;
	}

}
/* Устройства с большим экраном (компьютеры, 1200px) */
@media (max-width: 1200px) {

}
@media (min-width: 768px) {
	.detailed_hidden_photo{
		display: none;
	}
	.detailed_image{
		.detailed_image{
			background: url('/img/detailed_photo_small.png') 0 0/auto 100% no-repeat;	
		}
	}
}